html,body{
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map{
    height: 100%;
    max-width: 100%;
}

.searchbar{
    position: absolute;
    top: 25px;
    left: 10px;
    border: 1px solid gray;
    padding: 15px;
    background: rgba(255,255,255,0.8);
}

#infoWindow{

    height: 200px;
    width: 200px;
}

#infoWindow img{
    width: 90px;
    height: 90px;
}


.displayDiv{
    position: absolute;
    top: 150px;
    left: 10px;
    border: 1px solid gray;
    padding: 10px;
    width: 20%;
    background: rgba(255,255,255,0.8);

}

.results{
    max-height: 300px;
    overflow: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.results li:hover{
    cursor: pointer;
    background-color: yellow;
}

.filter_form{
    margin-top: 10px;
}

.clear_results{
    margin-bottom: 0;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    text-decoration: underline;
    font-size: small;
    color: #2a6496;
}

#submit{
    width: 40px;
}

.autocomplete{
    font-size: xx-small;
}

.pagination ul{
    list-style-type: none;
}

.pagination ul li{
    display: inline-block;
}


@media screen and (max-width:450px){
    .searchbar{
        width: 70%;
        margin: 0;
    }
}